.heroSection{
    display: flex;
    padding: 0px 135px;
    justify-content: space-between;
    align-items: center;
}

.skipText{
    font-family: Poppins;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--darkBlueColor);
    margin: 0px;
    line-height: 10px;
}
.medicalText{
    font-family: Poppins;
    font-size:56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--darkBlueColor);
    margin: 10px 0px 10px 0px;
}
.medicalText span{
    color: var(--blueColor);
}

.connectText{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    color: #5C6169;
    margin-bottom: 30px;
}