.navBarBg{
    background-color:var(--white);
}
.searchBg{
    background-color: var(--blueColor);
    padding: 20px 135px;
    border-radius: 0px 0px 16px 16px;
    height: 35px;
    
}

.searchBg .inner{
    background-color: var(--white);
    padding: 27px 25px;
    border-radius: 15px;
}

.searchMain{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    
}

.searchBody{
    padding: 120px 135px;
    display: flex;
    justify-content: space-between;
} 
.askedQue{
    background-color: var(--white);
}
.searchData{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.searchDataInner{
    display: flex;
}
.searchData img{
    width: 124px;
    height: 124px;
    margin-right: 30px;
}
.searchLeft .middle{
    padding-right: 40px;
    padding-top: 40px;
    width: 360px;
}

.searchLeft .middle h4{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: var(--blueColor);

}

.searchLeft .middle h5{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    color: #414146;
    padding-bottom: 0px;
    padding-top: 15px;
}
.searchLeft .middle p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color:#414146;
    padding-bottom: 0px;
    padding-top: 0px;
}
.searchLeft .middle h6{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #414146;
}
.searchLeft .middle span{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    color: #02A401;
    padding-right: 0px;
}
.searchLeft .middle strike{
    color:#787887;
    padding: 0px 5px;
}

.searchLeft .middle hr{
   border: 0.3px solid #e8e8f0;
   margin: 10px 0px;
}
.searchLeft .middle .thumb{
    background: #00A500;
    width: 45px;
    padding: 3px 0px;
    color: var(--white);
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
}

.searchLeft h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:#000;
}

.searchLeft p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#787887;
    padding: 10px 0px 30px 0px;
}
.searchLeft span{
    color: #000;
    padding-right: 20px;
}
.searchBody .searchData{
    background-color: var(--white);
    padding: 24px;
    border-radius: 15px;
}

.hospitalBg img{
    width: 80;
    height: 80px;
}
.searchLeft .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.searchLeft .right button{
    width: 200px;

}
.searchLeft .right p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color:#01A400;
    text-align: center;
    padding-bottom: 10px;
}
.appointment{
    background-color:var(--white);
    width: 750px;
    margin-top: 40px;
    padding-top:20px;
    border-top: 1px solid #F0F0F5;
}

.schedule{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F0F0F5;
    padding: 20px 0px;
}
.schedule p{
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #414146;
    width: 140px;
    text-align: center;
}
.schedule .time{
    border: 1px solid var(--blueColor);
    border-radius: 5px;
    padding: 10px;
    color: var(--blueColor);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}
.appointment > :nth-child(4){
    border: none;
}