.specialistMain{
    padding:50px 135px
}


.doctorName{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 30px;
    box-shadow: 0px 15px 55px -10px #00000017;
    width: 350px;
    height: 394px;
    padding: 10px 6px 0px 6px;
    border-radius: 250px 250px 4px 4px;
   
}
.specialistMain h1{
  font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 67px;
text-align: center;
color: var(--darkBlueColor);
margin-bottom: 50px;
}

.doctorName img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  .headtext{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #1B3C74;
    margin-top: 20px;
  }

  .para{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color:var(--blueColor)
  }

  .swperSlide{
    margin-bottom: 50px;
  }